
.header {
  background-color: #fff;
  height: 50px;
}

.page-content {


  min-height: 100%;
  padding-bottom: 100px;

  
  .main-content {
    position: relative;
  }  

  .sidenav {
    position: absolute;
    background-color: #fff;

  }

  .content {
    margin: 0 auto;
  }


}

.page-content.lg {

  .main-content {
    padding-left: 300px;
  }

  .sidenav {
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
  }



}



.footer-content {
  min-height: 100px;
  margin-top: -100px;
}

.red-lg,
.red-md,
.red-sm,
.red-min {
  margin: 0 auto;

}